*{
    text-align: center;
}

h1{
    text-align: left;
}

.container{
   
    display: flex;
    background-color: blueviolet;
}
.container div{
    width: 200px;
    height: 200px;
    background-color: rgb(178, 147, 206);
}